


   @media (max-width 720px) {
       #intro {
           width: 90% !important;
       }
   }

   @media(max-width: 576px) {
       .icono-wrap{
           flex-wrap: wrap;
           justify-content: center; !important
       }
   }